<div class='Merge'>
  <h4>Merge Articles</h4>
  <form action='/admin/content/merge/<%= @article.id %>'>
    Article ID <input type="text" name="merge_with"><br>
    <input type="submit" value="Merge">
  </form>
</div>

